extends layout.pug
include utils.pug
block content
    +validationErrorSummary(errors)
    form(action=`/shelves/${shelf.id}/edit` method='post')
        include shelf-form-fields.pug
        br
        br
        span Create a new screed for this shelf:
        br
        a(href=`/shelves/${shelf.id}/screeds/new`) Create
        br
        br
        label(for='title') ...Or choose an existing screed:
        br
        input(name='title' list='screedlist')
        datalist(id='screedlist' name='screedlist')
            if allScreeds
                each screed in allScreeds
                    option(value=screed.title)
            else
                span No screeds yet
        br
        ul
            if (shelfScreeds)
                each shelfScreed in shelfScreeds
                    li= shelfScreed.title

        if (message)
            p= message
            a(href='/') Back
        else
            button(type='submit') Save
            a(href='/') Cancel
