mixin validationErrorSummary(errors)
    if errors
        p The following error(s) occurred:
        ul
            each error in errors
                li= error


mixin field(labelText, fieldName, fieldValue, fieldType='text', placeholder=null)
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
        textarea(id=fieldName name=fieldName rows='10')= fieldValue
    else
        input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder)


mixin displayScreeds(screeds)
    table
        thead
            tr
                th Image
                th Title
                th Author
                th Text
                th URL
                th Review
                th Read Status
        tbody
        each screed in screeds
            tr
                td= screed.imgLink
                td= screed.title
                td= screed.authorName
                td= screed.text
                td= screed.url
                td= screed.review
                td= screed.readStatus
